$btnColor: #0060ce;

body{
	background: #dddddd;
}
h1{
	font-size: 42px;
	filter: blur(1px);
}
.btn{
	padding: 8px 15px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: $btnColor;
	border-radius: 10px;
	display: inline-block;
}